#blog {
    background-color:  $light-gray;
}
.ttl_blog {
    @include box-ppties;
    text-align: center;
    padding: 4rem 0rem 2rem 0rem;
    font-size: 3rem;
    color: $dark-red;
    
}
.blog {
    
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    @include tabletpro {
        justify-content: none;
        align-items: none;
    }

    .articulos {
        @include box-grid(2rem, 0);
        grid-template-columns: repeat(3, 1fr);
        @include tabletpro {
            display: flex;
            flex-direction: column;
            // grid-template-columns: repeat(1, 1fr);
        }


        .posts {
            background-color: $white;
            box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
            overflow: hidden;
            transition: .2s;
            @include tabletpro {
                display: grid;
                grid-template-columns: 1fr 2fr;
                overflow: unset;
                @include mobile {
                    grid: "uno" 1fr
                          "dos" 1fr;
                        .post-header {
                            grid-area: uno;
                        }
                        .post-body {
                            grid-area: dos;
                        }
                }

            }
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
            }
            &:hover .img-post {
                transform: scale(1.1);
                @include tabletpro {
                    transform: none;
                }
            }
            
            .post-header {
                width: 100%;
                height: 50vh;
                overflow: hidden;
                cursor: pointer;
                .img-post { 
                    width: 100%;
                    height: 50vh;
                    transition: .2s;
                    object-fit: cover;
               
                }
            }
            }
            .post-body {
                padding: 1.5rem;
                span {
                    display: inline-block;
                    color: $light-blue;
                    margin-bottom: 1rem;
                    font-size: 1.2rem;
                    text-align: center;
                }
                .art-ttl {
                        margin-bottom: 1.5rem;
                        font-size: 2rem;
                        color: $dark-red;
                        text-align: center;
                }
                .art-txt {
                    line-height: 1.5;
                    margin-bottom: 2rem;
                    color: $Dark-Blue;
                    font-size: 1.5rem;
                    text-align: left;
                }
                .art-link {
                    display: block;
                    text-decoration: none;
                    padding: 1rem;
                    background: $dark-red;
                    color: #fffafa;
                    font-size: 1.2rem;
                    text-align: center;
                    width: 50%;
                    margin: auto;
                    border-radius: 2rem;
                    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
                    transition: .2s;
                }
                .art-link:hover {
                    background: #770406;
                    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);  
                    transform: translateY(-2px);
                }
            }

        }        
    }
