.conta-address {
    .icon-contac{
    margin-bottom: 1.2rem;
    }
    .txt-contac{
    text-align: justify;
    font-size: 1.4rem ;
    line-height: 1.2;
    color:$Dark-Blue;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    }
}