.sec-nosotros{
    background-color: $light-gray;
    padding: 3rem 0 3rem 0;
    position: relative;

    .nos-his-ttl{   
        color: $dark-red;
        font-size: 4.0rem;
        text-align: center;
        padding: 1.6rem 3.2rem;
        margin-bottom: 1.2rem;
        font-weight: 500;
    }
    .nos-his-txt{
        color: $Dark-Blue ;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3.2rem ;
    }
    
    .nos-servicios{
        @include box-grid(9.6rem, 0);
        grid-template-columns: repeat(3, 1fr);
        @include tabletsmall{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        

        .post_uno {
            @include tabletsmall {
                box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .3);
                padding: 1rem 2rem;
            }
        }
        
        }
        .serv-icon {
            display: block;
            margin: auto;
            margin-bottom: 1.2rem;
        }
        .serv-ttl {
            text-align: center;
            margin-bottom: 1.2rem;
            color: $dark-red;
            font-size: 1.6rem;
            font-weight: 500;
        }
        
        .serv-prf {
            text-align: justify;
            font-size: 1.4rem ;
            line-height: 1.2;
            color:$Dark-Blue
        }
    }
}
