/*Color texto con Fondo blanco*/
/*Color texto con fondo oscuro*/
/*Dark grayish red*/
/*Dark Red*/
/*Background Color*/
/*light Blue*/
.shake-bottom {
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes shake-bottom {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
.wobble-hor-bottom {
  animation: wobble-hor-bottom 0.8s both;
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  /*10px / 16px = 62.5%  
  1rem = 10px*/
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555; /*CAMBIAR*/
  scroll-behavior: smooth;
}

.contenedor {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030708;
  height: auto;
  padding: 0 4.8rem;
}
.header .logo {
  height: 7.4rem;
}
.header .main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.header .main-nav-list .link-nav:link,
.header .main-nav-list .link-nav:visited {
  text-decoration: none;
  color: #F3F5F8;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.header .main-nav-list .link-nav:hover,
.header .main-nav-list .link-nav:active {
  color: #9d0002;
}

.inilogo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Imagenes/Seccion-Inicio/Mitsu-Motor-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: #2b2d42; /* Fallback Color*/
}
.inilogo .sec-incio {
  padding: 4.8rem 0 9.6rem 0;
}
.inilogo .sec-incio .montero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.inilogo .sec-incio .montero .box-inicio {
  text-align: center;
}
.inilogo .sec-incio .montero .box-inicio .ttl-1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #F3F5F8;
}
.inilogo .sec-incio .montero .box-inicio .dtion-inicio {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #F3F5F8;
}
.inilogo .sec-incio .montero .box-inicio .btn-inicio, .inilogo .sec-incio .montero .box-inicio .btn-inicio:link, .inilogo .sec-incio .montero .box-inicio .btn-inicio:active {
  background-color: #9d0002;
  color: #c9c6c6;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
}
.inilogo .sec-incio .montero .box-inicio .btn-inicio:hover {
  background-color: #c06a6a;
}
.inilogo .sec-incio .montero .box-inicio .btn-inicio:visited {
  color: #c9c6c6;
}
.inilogo .marcas .logo-gale .gale-prrf {
  padding: 4.8rem;
  color: #F3F5F8;
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
}
.inilogo .marcas .logo-gale .galeria {
  display: grid;
  gap: 1rem;
  align-items: center;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 4.8rem;
}
.inilogo .marcas .logo-gale .galeria .car-logo .renault {
  width: 70%;
}

.sec-nosotros {
  background-color: #C8C8C8;
  padding: 3rem 0 3rem 0;
  position: relative;
}
.sec-nosotros .nos-his-ttl {
  color: #9d0002;
  font-size: 4rem;
  text-align: center;
  padding: 1.6rem 3.2rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.sec-nosotros .nos-his-txt {
  color: #2b2d42;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3.2rem;
}
.sec-nosotros .nos-servicios {
  display: grid;
  gap: 9.6rem;
  align-items: 0;
  grid-template-columns: repeat(3, 1fr);
}
.sec-nosotros .nos-servicios .serv-icon {
  display: block;
  margin: auto;
  margin-bottom: 1.2rem;
}
.sec-nosotros .nos-servicios .serv-ttl {
  text-align: center;
  margin-bottom: 1.2rem;
  color: #9d0002;
  font-size: 1.6rem;
  font-weight: 500;
}
.sec-nosotros .nos-servicios .serv-prf {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #2b2d42;
}

.portafolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/Imagenes/Seccion-Inicio/Motor.jpg);
  background-color: #2b2d42;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 3rem 0 3rem 0;
}
.portafolio .porta-prf {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  padding-bottom: 3rem;
}
.portafolio .sec-portafolio {
  display: grid;
  gap: 0;
  align-items: 0;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding-bottom: 2.2rem;
}
.portafolio .sec-portafolio .porta-prrf {
  color: #C8C8C8;
  font-size: 3rem;
  font-size: 2.4rem;
  text-align: center;
}
.portafolio .sec-portafolio .slider {
  position: relative;
}
.portafolio .sec-portafolio .slider .info-port {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #2b2d42;
  width: 49.99rem;
  font-size: 2rem;
  text-align: center;
}
.portafolio .sec-portafolio .img-slider .crs-txt h5 {
  color: #9d0002;
  text-transform: uppercase;
  font-size: 2rem;
}
.portafolio .sec-portafolio .img-slider .crs-txt p {
  color: #4c4e67;
  font-size: 1.2rem;
}

.blog {
  background-color: #C8C8C8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
}
.blog .articulos {
  display: grid;
  gap: 2rem;
  align-items: 0;
  grid-template-columns: repeat(3, 1fr);
}
.blog .articulos .posts {
  background-color: #e1dfdf;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.2s;
}
.blog .articulos .posts:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}
.blog .articulos .posts:hover .img-post {
  transform: scale(1.1);
}
.blog .articulos .posts .post-header {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  cursor: pointer;
}
.blog .articulos .post-body {
  padding: 1.5rem;
}
.blog .articulos .post-body span {
  display: inline-block;
  color: #4c4e67;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.blog .articulos .post-body .art-ttl {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #9d0002;
  text-align: center;
}
.blog .articulos .post-body .art-txt {
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #2b2d42;
  font-size: 1.5rem;
  text-align: left;
}
.blog .articulos .post-body .art-link {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background: #9d0002;
  color: #fffafa;
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.blog .articulos .post-body .art-link:hover {
  background: #770406;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.blog .articulos .img-post {
  width: 100%;
  height: 20rem;
  transition: 0.2s;
}

.caja {
  display: grid;
  gap: 0;
  align-items: 0;
  grid-template-columns: 1fr 4fr;
  background-color: #2b2d42;
}
.caja aside {
  padding: 2rem;
  color: #F3F5F8;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.caja aside .ttl {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}
.caja aside .categoria {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.caja aside .categoria .btn-categoria {
  background-color: transparent;
  border: 0;
  color: #c9c6c6;
  font-size: 1.7rem;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}
.caja aside .categoria .btn-categoria:hover {
  color: #9d0002;
  transform: translateY(-2px);
}
.caja aside .newsletter {
  color: #c9c6c6;
}
.caja aside .newsletter .ttl-news {
  font-size: 1.6rem;
  font-weight: 100;
  color: #e1dfdf;
  margin: 0.8rem;
  text-align: left;
}
.caja aside .newsletter .form input {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #c9c6c6;
  width: 90%;
  margin-bottom: 1rem;
}
.caja aside .newsletter .data-news {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 1rem;
}
.caja aside .newsletter .data-news b {
  color: #F3F5F8;
}
.caja aside .newsletter .btn-news .btn-subs {
  border: 0;
  background-color: #c9c6c6;
  border-radius: 1.2rem;
  text-transform: uppercase;
  padding: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #C8C8C8;
}
.caja main {
  background-color: #C8C8C8;
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}
.caja main .contenedor-productos {
  display: grid;
  gap: 1rem;
  align-items: 0;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 1fr; */
}
.caja main .contenedor-productos .img-pdt {
  max-width: 100%;
  border-radius: 1rem;
}
.caja main .contenedor-productos .info-pdt {
  background-color: #2b2d42;
  color: #c9c6c6;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.caja main .contenedor-productos .info-pdt .agg-pdt {
  border: 0;
  background-color: #c9c6c6;
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0.4rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #C8C8C8;
}
.caja main .contenedor-productos .info-pdt .agg-pdt:hover {
  background-color: #4c4e67;
  color: #c9c6c6;
  border: 0;
}

.contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Imagenes/Imagenes/Bk-Color.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: #2b2d42; /* Fallback Color*/
}
.contacto .txt-contac1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #e1dfdf;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  padding: 2rem;
}
.contacto .contact-ppt {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  gap: 9.6rem;
  align-items: center;
}
.contacto .contact-ppt .datos-ppt {
  padding: 2rem 0;
  border-bottom: 1px solid red;
}
.contacto .contact-ppt .boot-icon {
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
}
.contacto .contact-ppt .sec-contacto {
  padding-bottom: 6.2rem;
}
.contacto .contact-ppt .sec-contacto .txt-contac {
  padding-top: 1rem;
  color: #e1dfdf;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
}
.contacto .sec-form {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  background-color: #0f0f0f;
  box-shadow: 3px 3px 14px 0px rgb(61, 57, 61);
  padding: 3rem;
}
.contacto .sec-form .btn-form {
  width: 50%;
  background-color: #9d0002;
  color: #c9c6c6;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.1rem 1.2rem;
  border-radius: 9px;
  text-decoration: none;
  margin: auto;
}

.footer {
  background-color: #030708;
  padding-top: 4rem;
  border-top: 1px solid red;
}
.footer .footer-box {
  display: grid;
  grid: "uno dos tres" 1fr "cuatro cuatro cinco" 1fr/1fr 1fr 1fr;
  gap: 0.8rem;
}
.footer .footer-box .uno {
  grid-area: uno;
}
.footer .footer-box .dos {
  grid-area: dos;
  align-self: center;
  justify-self: center;
}
.footer .footer-box .tres {
  grid-area: tres;
}
.footer .footer-box .cuatro {
  grid-area: cuatro;
  align-self: end;
  padding-bottom: 1rem;
  justify-self: end;
}
.footer .footer-box .cinco {
  grid-area: cinco;
}
.footer .footer-box .map-item {
  margin-bottom: 1rem;
  color: #c9c6c6;
  font-size: 2rem;
}
.footer .footer-box .map-item .link-map {
  text-decoration: none;
  color: #c9c6c6;
}
.footer .footer-box .map-item .link-map:hover {
  background-color: #C8C8C8;
  color: #2b2d42;
}
.footer .footer-box .redes p {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #9d0002;
}
.footer .footer-box .redes-box {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.footer .footer-box .redes-box .icon-redes {
  transition: 0.2s;
}
.footer .footer-box .redes-box .icon-redes:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}
.footer .footer-box .pagos p {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #9d0002;
}
.footer .footer-box .pagos-box {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.footer .footer-box .pagos-box .icon-pagos {
  transition: 0.2s;
}
.footer .footer-box .pagos-box .icon-pagos:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}
.footer .footer-box .foo-info {
  font-family: "Rubik", sans-serif;
  list-style: none;
  color: #c9c6c6;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 300;
}/*# sourceMappingURL=estilos.css.map */